[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pickle-mixin = "*"
numpy = "*"
flask-cors = "*"
sklearn = "*"
joblib = "*"
matplotlib = "==3.2"
shap = "*"
scikit-learn = "*"
ipython = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
