<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HDPSWebApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.9262dc2455967edf3ccd.css') }}">
</head>

<body>
  <app-root></app-root>
  <script src="{{ url_for('static', filename = 'runtime.0e49e2b53282f40c8925.js') }}" defer></script>
  <script src="{{ url_for('static', filename = 'polyfills.8c151b8375e767ff858f.js') }}" defer></script>
  <script src="{{ url_for('static', filename = 'main.e3c8b192debca7db3ef8.js') }}" defer></script>
</body>

</html>